*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --theme: #8B5CF6;
  --theme2: #7641f2;
  --theme-highlight: #8a5df4;
  --background-primary: #333e45;
  --background-secondary: #eaf5ff;
  
  --text-primary: #d1e3fc;
  --text-secondary: #92a2b9;

  --border-primary: #E2E8F0;
  --border-secondary: #cca6fd;
  --border-radius: 1.5rem;
  --border-radius2: 1.75rem;
  
  --div-height-primary: 3.5rem;
  --div-height-secondary: 3rem;

}