*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --theme: #8B5CF6;
  --theme2: #7641f2;
  --theme3: #7641f236;
  --theme-highlight: #aa87fc;
  --background-primary: #333e45;
  --background-secondary: #eaf5ff;
  
  --text-primary: #d1e3fc;
  --text-secondary: #839dc3bf;

  --border-primary: #E2E8F0;
  --border-secondary: #cca6fd;
  --border-radius1: 1.12rem;
  --border-radius2: 0.9rem;
  
  --div-height1: 2.25rem;
  --div-height2: 1.8rem;
}